# openssl req -x509 -nodes -days 3650 -newkey rsa:2048 -keyout key.pem -out cert.pem -config openssl.cnf

[req]
distinguished_name = req_distinguished_name
x509_extensions = v3_req
prompt = no

[req_distinguished_name]
C = DE
ST = Bavaria
L = Munich
CN = flux.dev

[v3_req]
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid,issuer
basicConstraints = CA:TRUE
subjectAltName = @alt_names

[alt_names]
DNS.1 = flux.dev
DNS.2 = flux
DNS.3 = hub.dev
IP.1 = 10.211.55.14
IP.2 = 10.211.55.18
IP.3 = 10.211.55.5
IP.4 = 10.211.55.15